html {
	scroll-behavior: smooth;
  }
/* start the navigation bar */
/* all the comming code just edit on the bootstrap classes */
.navbar {
    /* this is for shink nav */
    position: fixed;
    left: 0;
    top: 0;
    right: 0;
    z-index: 1000; /* this is for show the nav front any element */
    border-radius: unset;
}

.navbar-inverse {
    background-color: rgba(255, 255, 255, 0.5); /* white color with low oppacity */
    border-color: transparent; /* transparent to show what in the back */
}

.navbar-inverse .navbar-toggle {
    border-color: #fff;
}

.navbar-inverse .navbar-brand {
    color: tomato;
}

.navbar-inverse .navbar-nav > li > a {
    color: #000;
}

.navbar-inverse .navbar-nav > .open > a, .navbar-inverse .navbar-nav > .open > a:focus, .navbar-inverse .navbar-nav > .open > a:hover {
    color: #fff;
    background-color: tomato;
}

.dropdown-menu > .active > a, .dropdown-menu > .active > a:focus, .dropdown-menu > .active > a:hover {
    background: tomato;
}

.navbar-brand {
	font-size: 40px; /* this is for larger font */
}

.my-span {
    background-color: tomato;
    color: white;
    border: 1px solid tomato;
    border-radius: 5px;
    margin: 2px;
    padding: 2px;
}

.navbar-inverse .navbar-brand:focus, .navbar-inverse .navbar-brand:hover {
    color: tomato;
    background-color: transparent;
}

.navbar-inverse .navbar-toggle:focus, .navbar-inverse .navbar-toggle:hover {
    background-color: tomato;
}

.dropdown-menu > li > a {
    color: tomato;
}

.dropdown-menu > li > a:focus, .dropdown-menu > li > a:hover {
    color: #fff;
    background-color: tomato;
}

/* this is for when hover or focus the link take the general color and the background take the white color  */
.navbar-inverse .navbar-nav > .active > a, .navbar-inverse .navbar-nav > .active > a:focus, .navbar-inverse .navbar-nav > .active > a:hover {
    color: tomato;
    background-color: rgba(255, 255, 255, 0.9);
}

.navbar-inverse .navbar-nav > li > a:focus, .navbar-inverse .navbar-nav > li > a:hover {
    color: tomato;
    background-color: rgba(255, 255, 255, 0.9);
}

/* end the navigation bar */

@media (max-width: 767px) {
    /* that is media query for the dropdown-menu */
    .navbar-inverse {
        background-color: #fff;
    }

    .navbar-inverse .navbar-nav .open .dropdown-menu > li > a {
        color: tomato;
        background-color: white;
    }

    .navbar-inverse .navbar-nav .open .dropdown-menu > .active > a, .navbar-inverse .navbar-nav .open .dropdown-menu > .active > a:focus, .navbar-inverse .navbar-nav .open .dropdown-menu > .active > a:hover {
        color: #fff;
        background-color: tomato;
    }

    .navbar-inverse .navbar-nav .open .dropdown-menu > li > a:focus, .navbar-inverse .navbar-nav .open .dropdown-menu > li > a:hover {
        color: #fff;
        background-color: tomato;
    }

    .navbar-inverse .navbar-toggle {
        border-color: #fff;
        background-color: tomato;
    }
}

/* start the header */

/* start the mainbanner */
.mainBanner--shadow {
    overflow: hidden;
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100vh;
    z-index: 2;
    background: transparent;
}

.mainBanner--shadow--inner {
    background: #fefefe;
    -webkit-transform: skewX(30deg);
    transform: skewX(-20deg);
    -webkit-transform-origin: 100% 0;
    transform-origin: 100% 0;
    -webkit-box-shadow: 0 0 100px #f6f6f8 inset;
    box-shadow: 0 0 100px #f6f6f8 inset;
    width: 100%;
    height: 100vh;
}

.mainBanner--shadow--inner:after {
    content: "";
    display: block;
    position: relative;
    top: 0;
    right: 0;
    width: 60%;
    height: calc(2.25 * 100vh);
    -webkit-box-shadow: 0 0 100px #f6f6f8 inset;
    box-shadow: 0 0 100px #f6f6f8 inset;
    z-index: 2;
}

/* end the mainbanner */
/* start the head content */

.head-img {
    width: 100%;
    height: 100%;
    border: 2px solid tomato;
    border-radius: 5px;
    box-shadow: 0 4px 8px 0 tomato;
    margin-top: 5px;
}

.ph-head-content {
    position: absolute;
    /* background-image: url(../res/main.svg); */
    top: 20%;
    z-index: 3;
    color: tomato;
    background-color: transparent;
}

/* end the head content */

/* end the header */

/* Start Contacts */
.conatcts{
    background-color: #252f31;
    margin-top: 30px;
}

.conatcts .container .content p{
    color: #797979;
}    


form{
    color: white;
    text-align: left;
    padding-top: 50px;
}
form input::placeholder,
form textarea::placeholder{
	color: tomato;
}
form input,
form textarea{
    margin-top: 10px;
    margin-bottom: 10px;
    padding: 10px;
    border-radius: 5px;
    background-color: #4b5557;
    border: none;

    font-size: 16px;    
    color: white;
    box-shadow: 0 0 10px #f5f5f5;    
    transition: 0.3s ease-in-out;
}

form input:hover,
form textarea:hover{
    box-shadow: -5px 0 tomato;
}

form textarea{
    height: 300px;
    text-align: left;
}

form .myBtn{
    background-color: white;
    color: tomato;   
	border-color: tomato;
}
form .myBtn:hover{
    background-color: tomato;
	color: white;
}    
/* End Contacts */

/* Start Footer */

footer{
    padding: 10px;
    text-align: center;
    background-color: #191e22;
    color: #797979;
}

footer h6{
    padding: 10px;
    margin: 10px auto;
}

footer .container h6 span{
    color: tomato;
}

footer .container ul{
    list-style: none;
    text-align: center;
}    

footer .container ul li{
    display: inline-block;
    margin: 10px;
}    

footer ul li i{
    transition: 0.3s ease-in-out;
}

footer ul li i:hover{
    transform: scale(1.2,1.2);
    text-shadow: 0 10px 2px #8B8B8B;
}    

/* End Footer */

/* my frame work */
.special-heading{
	position: relative;
	font-weight: normal;
	/* font-size: 3vw; */
    margin-bottom: 20PX;
    margin-top: 70px;
	margin-left: 5px;
	padding-left: 0px;
	color: tomato;
}

.special-heading:after{
	content: "";
	display: block;
	position: absolute;
	margin-top: 10px;
	width: 6%;
	border-bottom: 3px solid tomato;
}

.card img{
	margin-bottom: 30px;
    cursor: pointer;
    height: 500px ;
    border-radius: 5%;
    box-shadow: 0 0 6px tomato;
}

.card .overlay {
	position: absolute;
	top: 0;
	bottom: 0;
	left: 0;
	right: 0;
	height: 100%;
	width: 100%;
	opacity: .0;
	transition: .5s ease;
	background-color: #fff;
}

.card:hover .overlay {
	opacity: .8;
}

.card .text {
	color: tomato;
	font-size: 2vw;
	position: absolute;
	top: 40%;
	left: 50%;
	-webkit-transform: translate(-50%, -50%);
	-ms-transform: translate(-50%, -50%);
	transform: translate(-50%, -50%);
	text-align: center;
}

@media (max-width: 767px){
	.card .text{
		font-size: 7vw;
	}
	.head-img{
		display: none;
	}
}

@media (max-width: 1024px){
	.head-img{
		display: none;
	}
}

/* nice scroll */
/* width */
::-webkit-scrollbar {
	width: 10px;
}
/* Track */
::-webkit-scrollbar-track {
	border-radius: 5px;
}
/* Handle */
::-webkit-scrollbar-thumb {
	background: tomato; 
	border-radius: 2px;
}
/* Handle on hover */
::-webkit-scrollbar-thumb:hover {
	background: tomato; 
}